# Air configuration for live reload
# https://github.com/air-verse/air

root = "."
tmp_dir = "tmp"

[build]
  cmd = "templ generate && rm -f static/css/styles.*.css && tailwindcss -i assets/css/input.css -o static/css/styles.dev.css && go build -o ./tmp/app ./cmd/app"
  bin = "./tmp/app"
  delay = 1000
  exclude_dir = ["tmp", "vendor", "data", "static"]
  exclude_regex = ["_test.go", "_templ.go"]
  exclude_unchanged = false
  follow_symlink = false
  include_ext = ["go", "toml", "templ", "css"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = true
