package templates

templ Layout(title string) {
	<!DOCTYPE html>
	<html lang={ Locale(ctx) } class="h-full">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<link rel="stylesheet" href={ CSSPath(ctx) }/>
		</head>
		<body class="h-full bg-gray-100 text-gray-900 antialiased">
			<div class="min-h-full">
				{ children... }
			</div>
			<script src={ JSPath(ctx) }></script>
		</body>
	</html>
}
