// Copyright 2025 Oliver Andrich
// Licensed under the EUPL-1.2

package components

import "github.com/oliverandrich/go-webapp-template/internal/csrf"

templ CSRFInput() {
	<input type="hidden" name="csrf_token" value={ csrf.GetToken(ctx) }/>
}
